<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{{#if meta.keywords}}
		<meta name="keywords" content="{{meta.keywords}}">
	{{/if}}
	{{#if meta.description}}
		<meta name="description" content="{{meta.description}}">
	{{/if}}
	
	<title>Etalon Horse Club {{#if pageTitle}}| {{pageTitle}}{{/if}}</title>
	
	{{{isAdminEditorCSS user}}}
	
	<link rel="stylesheet" href="/styles/style.css" defer>
</head>
<body {{#if bodyClass}}class="{{bodyClass}}"{{/if}}>
{{#if messages}}
	<div id="flash-messages" class="container">
		{{#if messages.info}}
			<div class="alert alert-info">
				{{{flashMessages messages.info}}}
			</div>
		{{/if}}
		{{#if messages.success}}
			<div class="alert alert-success">
				{{{flashMessages messages.success}}}
			</div>
		{{/if}}
		{{#if messages.warning}}
			<div class="alert alert-warning">
				{{{flashMessages messages.warning}}}
			</div>
		{{/if}}
		{{#if messages.error}}
			<div class="alert alert-danger">
				{{{flashMessages messages.error}}}
			</div>
		{{/if}}
	</div>
{{/if}}
<div class="ui layout">
	<header>
		<div class="ui contacts header">
			<div class="ui container">
				<ui class="ui layout-contacts">
					<li><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:info@etalon-horse.club">info@etalon-horse.club</a></li>
					<li><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:+380973420373">+380973420373</a></li>
					<li><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:+380665888065">+380665888065</a></li>
				</ui>
			</div>
		</div>
		{{> navigation links=navigationLinks section=section selectedCategory=selectedCategory}}
	</header>
	
	<main>
		{{{body}}}
	</main>
	
	<footer>
		<div class="ui footer content-wrap">
			<div class="ui container">
				<ui class="ui layout-contacts">
					<li><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:+380973420373">+380973420373</a></li>
					<li><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:+380665888065">+380665888065</a></li>
				</ui>
				<div class="ui soc-links">
					<a target="_blank" rel="nofollow" href="{{siteConfig.vk}}"><i class="fa fa-vk" aria-hidden="true"></i></a>
					<a target="_blank" rel="nofollow" href="{{siteConfig.fb}}"><i class="fa fa-facebook-f" aria-hidden="true"></i></a>
				</div>
			</div>
		</div>
		<div class="ui footer copyright">
			<div class="ui container">
				<p>&copy; Конный клуб «Эталон», 2015 &ndash; {{currentYear}}</p>
			</div>
		</div>
	</footer>
</div>

<script src="/javascript/vendors/swiper/swiper.min.js"></script>
<script src="/javascript/script.js"></script>

<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i&amp;subset=cyrillic-ext" rel="stylesheet" defer>

{{{isAdminEditorJS user}}}
</body>
</html>
