<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{{#if meta.keywords}}
		<meta name="keywords" content="{{meta.keywords}}">
	{{/if}}
	{{#if meta.description}}
		<meta name="description" content="{{meta.description}}">
	{{/if}}
	
	<title>Etalon Horse Club {{#if pageTitle}}| {{pageTitle}}{{/if}}</title>
	
	{{{isAdminEditorCSS user}}}
	
	<link rel="stylesheet" href="/styles/style.css" defer>
	<script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');ga('create', 'UA-69831730-1', 'auto');ga('send', 'pageview');</script>
</head>
<body {{#if bodyClass}}class="{{bodyClass}}"{{/if}}>
{{#if messages}}
	<div id="flash-messages" class="container">
		{{#if messages.info}}
			<div class="alert alert-info">
				{{{flashMessages messages.info}}}
			</div>
		{{/if}}
		{{#if messages.success}}
			<div class="alert alert-success">
				{{{flashMessages messages.success}}}
			</div>
		{{/if}}
		{{#if messages.warning}}
			<div class="alert alert-warning">
				{{{flashMessages messages.warning}}}
			</div>
		{{/if}}
		{{#if messages.error}}
			<div class="alert alert-danger">
				{{{flashMessages messages.error}}}
			</div>
		{{/if}}
	</div>
{{/if}}
<div class="ui layout">
	<header>
		<div class="ui contacts header">
			<div class="ui container">
				<ui class="ui layout-contacts">
					<li><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:info@etalon-horse.club">info@etalon-horse.club</a></li>
					<li><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:+380973420373">+380973420373</a></li>
					<li><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:+380665888065">+380665888065</a></li>
				</ui>
			</div>
		</div>
		{{> navigation links=navigationLinks section=section selectedCategory=selectedCategory}}
	</header>
	
	<main>
		{{{body}}}
	</main>
	
	<footer>
		<div class="ui footer content-wrap">
			<div class="ui container">
				<ui class="ui layout-contacts">
					<li><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:+380973420373">+380973420373</a></li>
					<li><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:+380665888065">+380665888065</a></li>
				</ui>
				<div class="ui soc-links">
					<a target="_blank" rel="nofollow" href="{{siteConfig.vk}}"><i class="fa fa-vk" aria-hidden="true"></i></a>
					<a target="_blank" rel="nofollow" href="{{siteConfig.fb}}"><i class="fa fa-facebook-f" aria-hidden="true"></i></a>
				</div>
			</div>
		</div>
		<div class="ui footer copyright">
			<div class="ui container">
				<p>&copy; Конный клуб «Эталон», 2015 &ndash; {{currentYear}}</p>
			</div>
		</div>
	</footer>
</div>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgfZyWqUa1igG4laoy_Lr_lamqUAfgL08&callback=initMap"></script>
<script src="/javascript/vendors/swiper/swiper.min.js"></script>
<script>
	// Add Open Sans font
	window.onload = function () {
		var link = document.createElement('link');
		link.rel = 'stylesheet';
		link.href = 'https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i&amp;subset=cyrillic-ext';
		document.head.appendChild(link);
	};
	
	// Init Map
	function initMap() {
		var club = {lat: 50.321178, lng: 30.306885};
		var container = document.getElementById('map');
		var map = new google.maps.Map(container, {
			zoom: parseInt(container.getAttribute('data-zoom')) || 13,
			center: club,
			disableDefaultUI: true,
			zoomControl: true,
			zoomControlOptions: {
				position: google.maps.ControlPosition.LEFT_TOP
			},
			mapTypeControl: true,
			scaleControl: false,
			streetViewControl: true,
			streetViewControlOptions: {
				position: google.maps.ControlPosition.LEFT_TOP
			},
			rotateControl: true,
			fullscreenControl: false,
			scrollwheel: false,
		});
		var markerImage = '/images/contacts-map-marker.png';
		var marker = new google.maps.Marker({
			position: club,
			map: map,
			icon: markerImage
		});
		map.panBy( window.innerWidth / 4, 25);
	}

	// Init Main Slider
	var topSlider = new Swiper('.top-slider.swiper-container', {
		speed: 400,
		spaceBetween: 0,
		nextButton: '.top-slider .slider-button-next',
		prevButton: '.top-slider .slider-button-prev',
		loop: true
	});
</script>

{{{isAdminEditorJS user}}}
</body>
</html>
