<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="theme-color" content="#6a6968">
	{{#if meta.keywords}}
		<meta name="keywords" content="{{meta.keywords}}">
	{{/if}}
	{{#if meta.description}}
		<meta name="description" content="{{meta.description}}">
	{{/if}}
	
	<title>Etalon Horse Club {{#if pageTitle}}| {{pageTitle}}{{/if}}</title>
	
	{{{isAdminEditorCSS user}}}

	<style type="text/css">{{inlineCSS}}</style>
	
	<script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');ga('create', 'UA-69831730-1', 'auto');ga('send', 'pageview');</script>
</head>
<body {{#if bodyClass}}class="{{bodyClass}}"{{/if}}>
{{#if messages}}
	<div id="flash-messages" class="container">
		{{#if messages.info}}
			<div class="alert alert-info">
				{{{flashMessages messages.info}}}
			</div>
		{{/if}}
		{{#if messages.success}}
			<div class="alert alert-success">
				{{{flashMessages messages.success}}}
			</div>
		{{/if}}
		{{#if messages.warning}}
			<div class="alert alert-warning">
				{{{flashMessages messages.warning}}}
			</div>
		{{/if}}
		{{#if messages.error}}
			<div class="alert alert-danger">
				{{{flashMessages messages.error}}}
			</div>
		{{/if}}
	</div>
{{/if}}
<div class="ui layout">
	<header>
		<div class="ui logo-wrapper container">
			<a href="/" class="logo">
				<svg viewBox="0 0 140 93" xmlns="http://www.w3.org/2000/svg"><path d="M130.36 48.562h1.448V39.53h-1.447v-1.506h3.918c1.078 0 1.887.066 2.426.2.539.132 1.013.468 1.426 1.008.412.54.617 1.173.617 1.9a3.11 3.11 0 0 1-.368 1.515 2.38 2.38 0 0 1-1.079 1.023c.655.23 1.159.613 1.511 1.147.353.534.53 1.145.53 1.831 0 .595-.132 1.135-.395 1.62a2.9 2.9 0 0 1-1.045 1.125c-.434.266-.91.444-1.426.537-.516.092-1.22.138-2.112.138h-4.003v-1.506zm3.225-4.035v4.035h.67c.874 0 1.514-.045 1.92-.134.407-.09.738-.3.995-.633.257-.332.385-.757.385-1.277 0-.473-.123-.87-.368-1.19a1.751 1.751 0 0 0-.948-.64c-.387-.108-.932-.161-1.638-.161h-1.016zm0-4.997v3.507h1.109c.846 0 1.438-.151 1.773-.454.336-.303.504-.749.504-1.337 0-1.144-.759-1.716-2.277-1.716h-1.109zm-15.117-1.506h4.63v1.506H121.7v6.027c0 .935.046 1.582.139 1.94.094.358.326.662.699.913.373.25.852.377 1.439.377.7 0 1.236-.108 1.608-.325.373-.216.62-.508.741-.874.12-.366.182-1.014.182-1.944V39.53h-1.363v-1.506h4.605v1.506h-1.473v6.295c0 .849-.035 1.465-.105 1.85-.071.383-.261.784-.572 1.203-.31.418-.748.753-1.312 1.005-.564.25-1.25.376-2.058.376-.89 0-1.632-.117-2.225-.35-.593-.235-1.039-.547-1.337-.94a3.198 3.198 0 0 1-.598-1.256c-.098-.444-.148-1.134-.148-2.07V39.53h-1.455v-1.506zm-9.016 10.538h1.524V39.53h-1.524v-1.506h4.817v1.506h-1.448v9.032h3.606v-4.095h1.66v5.601h-8.635v-1.506zm-12.68-4.468c0-1.91.542-3.432 1.626-4.564 1.083-1.13 2.496-1.697 4.24-1.697 1.54 0 2.836.43 3.886 1.29v-1.099h1.523v3.87h-1.523a3.877 3.877 0 0 0-1.566-1.823c-.706-.43-1.448-.645-2.227-.645-1.173 0-2.137.434-2.89 1.3-.754.866-1.13 1.959-1.13 3.28 0 1.358.403 2.466 1.21 3.326.807.86 1.764 1.29 2.87 1.29.908 0 1.735-.298 2.48-.896.745-.597 1.27-1.45 1.574-2.559l1.532.874c-.344 1.34-1.04 2.378-2.086 3.114-1.047.736-2.25 1.104-3.61 1.104-1.784 0-3.214-.592-4.292-1.775-1.079-1.184-1.617-2.647-1.617-4.39zm-55.329 4.468h1.361V39.53h-1.36v-1.506h8.74v3.628h-1.301V39.53h-4.491v3.586H48.3v1.506h-3.908v3.94h4.49v-2.19h1.301v3.696h-8.74v-1.506zm-8.142-7.404c0-1.01.294-1.816.881-2.42.587-.602 1.324-.905 2.211-.905.843 0 1.624.312 2.344.936v-.806h1.285v3.654h-1.285v-.84c-.54-.929-1.283-1.394-2.23-1.394-.575 0-1.016.152-1.323.455a1.472 1.472 0 0 0-.462 1.087c0 .323.078.607.235.853.156.245.355.426.597.541.242.116.719.276 1.43.484.927.276 1.6.534 2.018.774.418.24.779.64 1.081 1.2.303.56.454 1.203.454 1.93 0 1.028-.317 1.877-.949 2.547-.633.67-1.415 1.005-2.348 1.005-.958 0-1.82-.395-2.585-1.186v.995h-1.316v-4.372h1.316v1.065c.63 1.31 1.453 1.966 2.472 1.966.519 0 .957-.183 1.315-.546.358-.364.537-.84.537-1.429 0-.572-.146-.983-.439-1.234-.291-.251-.844-.5-1.655-.749-.943-.289-1.64-.56-2.094-.818a2.842 2.842 0 0 1-1.086-1.1c-.27-.476-.404-1.04-.404-1.693zm-9.655 7.404h1.444V39.53h-1.444v-1.506h4.272c.892 0 1.6.08 2.125.238.524.159.957.493 1.3 1.005.343.51.514 1.147.514 1.908 0 1.594-.722 2.595-2.167 3.005l1.857 4.382h1.286v1.506h-2.278L28.16 44.44h-1.482v4.122h1.346v1.506h-4.378v-1.506zm3.032-9.032v3.404h1.24c.6 0 1.042-.046 1.327-.135.285-.09.518-.27.7-.545.18-.274.271-.642.271-1.104 0-.393-.092-.724-.276-.996-.184-.27-.41-.443-.68-.515-.27-.072-.682-.109-1.236-.109h-1.346zm-14.87 4.46c0-1.75.498-3.213 1.496-4.39.998-1.178 2.298-1.767 3.902-1.767 1.618 0 2.936.59 3.953 1.766 1.018 1.178 1.528 2.653 1.528 4.425 0 1.808-.519 3.298-1.554 4.473-1.036 1.175-2.353 1.762-3.95 1.762a5.032 5.032 0 0 1-2.809-.836c-.854-.557-1.496-1.333-1.924-2.329a7.784 7.784 0 0 1-.642-3.104zm1.73.008c0 1.323.338 2.431 1.014 3.325.675.896 1.562 1.343 2.661 1.343 1.089 0 1.983-.458 2.683-1.373.701-.914 1.052-2.007 1.052-3.277 0-1.282-.357-2.366-1.07-3.252-.714-.885-1.61-1.328-2.687-1.328-1.075 0-1.951.436-2.632 1.307-.68.872-1.02 1.957-1.02 3.255zM.49 48.562h1.194V39.53H.49v-1.506h4.022v1.506h-1.24v3.447h4.574V39.53H6.613v-1.506h4.023v1.506H9.434v9.032h1.202v1.506H6.613v-1.506h1.233v-4.079H3.272v4.079h1.24v1.506H.49v-1.506zm.23 5.772h49.464v.657H.72v-.657zm0-22.43h49.464v.656H.72v-.657zm0 21.773h49.464v.657H.72v-.657zm0-22.43h49.464v.656H.72v-.657zm96.053 23.087h42.568v.657H96.773v-.657zm0-22.43h42.568v.656H96.773v-.657zm0 21.773h42.568v.657H96.773v-.657zm0-22.43h42.568v.656H96.773v-.657zm16.703 30.908L116.212 61l.634 2.883-2.735 1.154-.635-2.883zM98.287 72.357l3.3-3.36 7.913 1.92-3.662-3.544-1.023 1.041-1.36-1.318 3.523-3.587 1.362 1.317-1.102 1.122 6.754 6.535-1.75 1.782-9.36-2.329 4.552 4.406.988-1.006 1.362 1.317-3.44 3.501-1.36-1.317 1.05-1.07-5.334-5.162-1.051 1.07-1.362-1.318zM52.054 62.23s-8.488-3.038-3.956-6.305c0 0-1.747 2.156 1.472 2.676.038.008.077.013.117.018 3.378.487 3.291-.888 4.504-2.58 1.213-1.69 4.215-6.56 5.774-7.422 1.56-.86 1.906-.86 1.906-.86s.317-2.951 1.04-4.786c.722-1.833 2.57-4.958 4.33-6.792 1.761-1.834 3.984-5.043 4.591-6.362.606-1.319.895-4.529.837-5.13 0 0-.375.286-.346.4.028.115-.144.546-.116.287.03-.257-.028-.43-.058-.143-.029.286-.172.544-.202.2-.028-.344 0-.458-.173-.344-.173.115-.49.173-.433-.085.058-.259.173-.487-.028-.401-.204.085-.204.199-.204-.23 0-.43.174-.803-.114-.66-.289.145.086-.401.086-.401s-.144-.257-.288-.2c-.145.058-.232.172.028-.114.26-.287.088-.235.088-.401 0-.288.028-1.033-.318-1.061-.347-.03-.434.028-.202-.143.23-.172.692-.487.375-.345-.318.143-.491.23-.26 0 .231-.228.317-.831.115-.687-.201.143-.462.258-.288.028.173-.229.346-.887.144-.83-.202.057-.375.458-.202.057.173-.402.318-.916.087-.889-.232.029-.665.602-.232.029.433-.573.578-1.203.318-.975-.26.23-.491.516-.289.115.203-.401.434-.917.203-.802-.232.114-.347.286-.116-.028.231-.315-.318-.231-.173-.546.144-.316.375-.458.144-.316-.231.144-.433.23-.202-.228.23-.46.405-1.032.115-.688-.288.345-.346.372-.144-.028.203-.402-.058-.487-.144-.487-.087 0 0-.346.057-.488.058-.143-.055-.371.03-.488.23-.314.49-.543.173-.486-.318.057-.231-.057-.145-.315.087-.26.463-.86.116-.69-.29.144-.237.07-.162-.026l.046-.058c.087-.115-.289-.287-.375-.259-.087.029.375-.658.375-.658s-.433.2-.086-.172c.346-.373.375-.603.115-.632-.26-.028-.202 0 .029-.486.132-.277.23-.486.237-.585a.358.358 0 0 0 .139-.19c.086-.315.548-.859.144-.715-.405.142-.29.057.028-.144.318-.2.578-1.376.203-1.003-.375.372-.607.429-.375.03.23-.403.808-1.205.548-1.062-.26.142-.78.487-.548.172.23-.315.548-.889.288-.832-.26.059-.029-.084.144-.286.174-.2.347-.63.347-.63s1.472-3.84 4.734-2.55c0 0-.202-.315-.317-.573 0 0 .867.285 1.848-.145.982-.43 1.068-1.346 2.858-.487 1.79.86 2.917 1.29 3.638 1.491.722.2 8.056 1.72 8.633 4.671 0 0 .491 1.462-.809 1.949 0 0-1.617 1.548-2.107.23 0 0-.404.086-1.53.028-1.127-.056-5.14 1.49-6.063.43 0 0-.058 5.675 3.348 7.939l2.427 1.319s1.731-2.179 1.731-2.266c0-.085 1.126-.315 1.82-.4.692-.086 2.684 1.777 3.493 2.464.134.115.303.274.49.46.514-.186 1.004-.258 1.357-.087 1.184.574 2.108 2.522 2.253 2.665.144.143 1.963 2.266 2.107 2.465.145.2.55.516.145 1.204-.405.689-.347 3.21-.347 3.21l-.058 1.977s-2.742-1.147-2.57-2.55c0 0 .203-.718.607-.89.404-.171.347-.371.404-.572.058-.2.145-1.433.145-1.633 0-.202-.173-1.089-.26-1.147-.021-.014-.282-.14-.66-.319.04.188.04.433-.033.806-.23 1.176-.722 1.778-.722 1.778s-2.223-1.348-2.223-1.836c0-.487.058-.658.058-.658l.721-.371s.145-.26-.057-.489c-.045-.051-.182-.225-.38-.468l-.775-.364s-1.04 1.807-1.733 3.068c-.692 1.26-1.962 3.983-2.511 4.671-.549.689-.866.63-2.021.458 0 0-2.859 7.05-3.927 8.8-1.068 1.748-5.486 6.62-8.113 8.253 0 0-.52.258.144.975.665.716 1.473 3.066 1.415 4.097-.059 1.033-.692 1.349-1.097 2.923-.404 1.577-1.097 3.67-1.617 4.673-.52 1.002-.78 1.232-.982 2.178-.202.946-.346 4.155.087 5.073.433.916 1.53 2.464 2.31 3.468.779 1.002 1.04 1.232 1.617 1.719.577.487.404.2.288.344l1.01 1.576s-1.99.602-3.117-.085c0 0-.26-.315-.116-.803.145-.487.404-.46-.029-.717-.433-.257-.577-.029-1.097-.744-.52-.718-.866-1.262-1.847-2.924-.982-1.664-2.021-3.325-2.541-3.927-.52-.602-1.213-1.432-.751-2.465.463-1.03.722-1.776.953-2.78.23-1.002.837-1.288.433-2.177-.35-.77-.57-1.089-.623-1.16l-.012-.016s-1.357 2.12-1.82 2.951c-.462.833-1.097 2.208-1.357 2.981-.259.775-.664.804-.346 1.95.318 1.146 1.011 3.411 1.56 4.585.548 1.175 2.31 4.156 2.136 4.3-.173.143.953 1.375.953 1.375s-2.195.573-2.916-.2l-.203-1.06s.607-.144.145-.631c-.463-.487-.463-.43-.924-.718-.462-.286-.664-.945-.75-1.718-.087-.774.375.028-.347-1.634s-1.155-3.066-2.05-4.327c-.895-1.261-1.328-2.408-.548-2.982.779-.572 1.703-2.349 1.703-3.467 0-1.118 0-1.92-.23-2.12-.197-.171-3.052-2.32-3.808-4.336.287 2.05.6 6.5-1.794 7.918 0 0-3.436 2.435-5.688 2.836-2.252.402-3.58 1.004-3.898 1.863 0 0-.375-1.346 1.155-1.805 1.53-.459-.116-.058-.116-.058zm34.458 17.878c.53-1.476 1.681-2.622 3.452-3.44 1.76-.812 3.382-.947 4.864-.403 1.483.543 2.564 1.54 3.244 2.992.682 1.456.753 2.921.214 4.396-.541 1.474-1.69 2.617-3.444 3.427-1.825.842-3.468.971-4.931.386-1.464-.585-2.523-1.576-3.179-2.974-.677-1.446-.75-2.907-.22-4.384zm3.119 3.143c.466.995 1.108 1.667 1.926 2.016.817.35 1.624.34 2.422-.029.781-.36 1.31-.96 1.584-1.798.273-.838.152-1.807-.364-2.91-.462-.985-1.098-1.662-1.907-2.032-.81-.37-1.63-.364-2.462.02-.783.361-1.31.959-1.582 1.793-.273.834-.144 1.814.383 2.94zm.16-60.983c.028.63.23 1.433.144 1.718-.087.288 2.886-2.492 2.886-2.492s.41-.324.98-.686c-.33-.308-.642-.55-.893-.662-1.039-.458-1.991-.744-2.252-.43 0 0-.894 1.921-.866 2.552zM71.427 80.996l6.151-.587.183 1.879-1.635.156.712 7.361 3.309-.315-.333-3.437 2.183-.208.514 5.316-10.01.953-.18-1.878 1.602-.153-.712-7.361-1.602.152-.182-1.878zm-16.271 8.497l.399-1.845 1.36.29 3.709-6.773-1.464-.312.4-1.845 7.181 1.531-.4 1.846-1.479-.316.745 7.723 1.312.28-.398 1.845-5.41-1.154.399-1.845 1.408.3-.116-1.987-2.856-.609-.99 1.751 1.47.314-.398 1.845-4.872-1.04zm5.636-4.367l1.906.407-.206-3.485-1.7 3.078zm-17.937-1.765l.943-1.64 1.468.833 3.694-6.422-1.468-.833-1.3 2.26-1.68-.951 2.243-3.899 8.859 5.022-2.242 3.897-1.658-.939 1.3-2.26-1.51-.856-3.695 6.423 1.468.831-.942 1.64-5.48-3.106zM29.297 71.042l1.399-1.278.915.987 5.483-5.006-.914-.987 1.399-1.278 6.714 7.246-2.626 2.397-1.456-1.572 1.225-1.12-2.36-2.547-1.91 1.745 1.905 2.057-1.399 1.278-1.906-2.058-2.173 1.985 2.36 2.547 1.24-1.13 1.456 1.572-2.637 2.407-6.715-7.245zm-1.785-7.158L28.147 61l2.736 1.154-.635 2.883-2.736-1.154z" fill="#E6D4A3" fill-rule="evenodd"/></svg>
			</a>
		</div>
		<div class="ui contacts header">
			<div class="ui container">
				<ui class="ui layout-contacts">
					<li><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:info@etalon-horse.club">info@etalon-horse.club</a></li>
					<li><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:+380973420373">+380973420373</a></li>
					<li><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:+380665888065">+380665888065</a></li>
				</ui>
			</div>
		</div>
		{{> navigation links=navigationLinks section=section selectedCategory=selectedCategory}}
	</header>
	
	<main>
		{{{body}}}
	</main>
	
	<footer>
		<div class="ui footer content-wrap">
			<div class="ui container">
				<ui class="ui layout-contacts">
					<li><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:+380973420373">+380973420373</a></li>
					<li><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:+380665888065">+380665888065</a></li>
				</ui>
				<div class="ui soc-links">
					<a target="_blank" rel="nofollow" href="{{siteConfig.fb}}"><i class="fa fa-facebook-f" aria-hidden="true"></i></a>
					<a target="_blank" rel="nofollow" href="{{siteConfig.in}}"><i class="fa fa-instagram" aria-hidden="true"></i></a>
					<a target="_blank" rel="nofollow" href="{{siteConfig.vk}}"><i class="fa fa-vk" aria-hidden="true"></i></a>
				</div>
			</div>
		</div>
		<div class="ui footer copyright">
			<div class="ui container">
				<p>&copy; Конный клуб «Эталон», 2015 &ndash; {{currentYear}}</p>
			</div>
		</div>
	</footer>
</div>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgfZyWqUa1igG4laoy_Lr_lamqUAfgL08&callback=initMap"></script>
<script src="/javascript/vendors/swiper/swiper.min.js"></script>
<script>{{inlineJS}}</script>

{{{isAdminEditorJS user}}}
</body>
</html>
