<div class="ui container">
  <ol class="ui breadcrumbs">
    <li><a href="/">Главная</a></li>
		{{#ifeq page.type 'Category'}}
      <li><a href="/{{page.category.path}}">{{page.category.title}}</a></li>
		{{/ifeq}}
    <li>
			{{#if page.title_alias}}
				{{page.title_alias}}
			{{else}}
				{{page.title}}
			{{/if}}
		</li>
  </ol>
	
	{{{page.fulltext}}}
	{{{page.singlePage.fulltext}}}
	
	{{#if page.slider.length}}
		{{#each page.slider as |image|}}
			<img src="{{cloudinaryUrl image}}" alt="">
		{{/each}}
	{{/if}}
</div>
