<h1>Новое сообщение с сайта</h1>
<h2>{{body.name}}</h2>
<table>
	<tr>
		<td>Телефон: <a href="tel:{{body.phone}}">{{body.phone}}</a></td>
	</tr>
	<tr>
		<td>Емейл <a href="mailto:{{body.email}}">{{body.email}}</a></td>
	</tr>
</table>

<p>{{body.message}}</p>
