{{! @links - Array with menu items
		@section - Uses for show active item in the menu }}

<nav class="ui menu header">

	<label for="show-nav">
		<span></span>
		<span></span>
		<span></span>
	</label>
	<input type="checkbox" id="show-nav">

	<div class="menu-wrap">
		<ul class="ui menu container">
			{{#each links}}
				{{#ifeq type 'Home'}}
					<li {{#ifeq ../section path}}class="active"{{else}}{{/ifeq}}>
						<a href="/" target="{{browserNav}}">{{ title }}</a>
					</li>
				{{/ifeq}}

				{{#ifeq type 'Hardcoded'}}
					<li {{#ifeq ../section path}}class="active"{{else}}{{/ifeq}}>
						<a href="/{{path}}" target="{{browserNav}}">{{ title }}</a>
					</li>
				{{/ifeq}}

				{{#ifeq type 'Single'}}
					<li {{#ifeq ../section path}}class="active"{{else}}{{/ifeq}}>
						<a href="/{{ path }}" target="{{browserNav}}">{{ title }}</a>
					</li>
				{{/ifeq}}

				{{#ifeq type 'External'}}
					<li>
						<a href="{{ externalLink }}" target="{{browserNav}}">
							{{ title }}
						</a>
					</li>
				{{/ifeq}}

				{{#ifeq type 'Category'}}
					<li 
						{{#if ../selectedCategory}}
							{{#ifeq ../selectedCategory path}}class="active"{{else}}{{/ifeq}}
						{{else}}
							{{#ifeq ../section path}}class="active"{{else}}{{/ifeq}}
						{{/if}}
					>
						<a href="/{{path}}" role="button" aria-haspopup="true" aria-expanded="false" target="{{browserNav}}">
							{{this.title}}
							<i class="fa fa-angle-down" aria-hidden="true"></i>
						</a>
						<ul>
							{{#each categoryPage.pages}}
								<li {{#ifeq ../../section path}}class="active"{{/ifeq}}>
									<a href="/{{../path}}/{{ path }}">
										{{#if title_alias}}
											{{title_alias}}
										{{else}}
											{{title}}
										{{/if}}
									</a>
								</li>
							{{/each}}
						</ul>
					</li>
				{{/ifeq}}
			{{/each}}
		</ul>
	</div>
</nav>
